@import "tailwindcss";

@theme {
  --color-background: var(--bg-color);
  --color-surface: var(--surface-color);
  --color-primary: var(--primary-color);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-primary: var(--on-primary-color);
  --color-border: var(--border-color);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
}

:root {
  --bg-color: #f6f9ff;
  --surface-color: #ffffff;
  --primary-color: #012d1d;
  --primary-fixed: #c1ecd4;
  --on-primary-color: #ffffff;
  --border-color: #e2e8f0;
  --text-main: #151c22;
  --text-muted: #64748b;
}

.dark {
  --bg-color: #0d141a;
  --surface-color: rgba(21, 28, 34, 0.75);
  --primary-color: #a5d0b9;
  --primary-fixed: rgba(40, 47, 53, 0.7);
  --on-primary-color: #0e3727;
  --border-color: rgba(46, 54, 60, 0.8);
  --text-main: #dce3ec;
  --text-muted: #94a3b8;
}

.dark .bg-surface {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
}
